---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  
  <img src="\assets\img\home.png", alt="Test">
  <div class="colL">
  <div class="content">
  <article >
  <section class="post-content">
    <h1>Welcome! My name is Seth Agee.</h1>
      <p>This is a website built to showcase all the things I have done or am currently doing.</p>
	  <p>For short overview of myself and my resume, please see <a href="https://sethagee.github.io/about/" target="_blank">about</a>.</p>
	  <p>To see what I'm learning about now or have learned in the past, check out <a href="https://sethagee.github.io/articles/" target="_blank">articles</a>. 
	  This includes notes on various topics, small projects to showcase ideas, and informational write-ups. </p>
	  <p>My portfolio of projects can be found at <a href="https://sethagee.github.io/projects/" target="_blank">projects</a>. This section also includes academic 
	  research, presentations, and seminar talks. </p?
  </section>
  </article>
  </div>

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
